*{
  font-size: 100%;
}
body{
   font-family: 'SimplePrintRegular';
   font-weight: normal;
   font-style: normal;
}
h2{
    font-family: Arial, verdana, sans-serif;
    font-size: 150%;
}
p{
    background-color: grey;
}
tbody{
    font-size: 80%;
}
div#jsContent{

}
div#greeting{

}
thead#column-head{
    font-size: 110%;
}
th{
    font-weight: bold;
    font-size: 100%;
}
.comparison{

}
